/* ========================= */
.hero {
height: 100vh;
background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48') center/cover;
display: flex;
align-items: center;
padding: 60px;
}


.hero h1 { font-family: 'Bebas Neue'; font-size: 80px; line-height: 1; }
.hero h1 span { font-size: 120px; color: var(--yellow); }


.btn-primary {
margin-top: 30px;
font-family: 'Bebas Neue';
font-size: 40px;
background: var(--yellow);
border: none;
padding: 16px 40px;
border-radius: 40px;
}


.highlight-bar {
background: var(--yellow);
color: var(--black);
text-align: center;
font-family: 'Anton';
font-size: 60px;
padding: 20px;
}


.section-title {
font-family: 'Bebas Neue';
font-size: 60px;
text-align: center;
margin-bottom: 50px;
}


.carousel {
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}


.carousel-track img {
width: 380px;
border-radius: 30px;
opacity: .4;
transition: .4s;
}


.carousel-track img.active {
opacity: 1;
transform: scale(1.1);
}
